@mixin grid-element-measures($elements_per_line, $padding, $grow) {
    flex-grow: $grow;
    flex-basis: calc((100% / #{$elements_per_line}) - #{$padding} * 2);
    max-width: calc((100% / #{$elements_per_line}) - #{$padding} * 2);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.grid-item {
    flex-grow: 0;
    padding: 5px;

    @media screen and (min-width: 320px) {
        @include grid-element-measures(1, 5px, 1);
    }

    @media screen and (min-width: 500px) {
        @include grid-element-measures(2, 5px, 1);
    }

    @media screen and (min-width: 750px) {
        @include grid-element-measures(3, 5px, 0);
    }

}

.gallery-item {
    box-sizing: content-box;
    border: 1px solid #dddddd;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;

    .img-container {
        text-align: center;
        padding: 10px;
    }

    .label-container {
        text-align: center;
        padding: 10px;
    }

}
